/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  max-width: 100%;
}
html,
body {
  height: 100%;
}
h1,
h3 {
  font-family: 'Teko', sans-serif;
  font-size: 6rem;
}
h2 {
  font-family: 'Teko', sans-serif;
  font-size: 3rem;
}
p {
  font-family: 'Rajdhani', sans-serif;
}
.pageContainer {
  display: flex;
  flex-direction: column;
}
.pageContainer .navBar {
  display: flex;
  justify-content: flex-end;
  background-color: black;
}
.pageContainer .navBar .links {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  padding: 1%;
}
.pageContainer .navBar .links a {
  text-decoration-line: none;
  font-family: 'Teko', sans-serif;
  font-size: 2rem;
  color: white;
}
.pageContainer header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 2%;
  border-bottom: 2px dotted black;
}
.pageContainer header .headerImg {
  width: 40%;
}
.pageContainer header .headerImg img {
  background-color: skyblue;
  margin: 5% 0;
  border: 5px solid black;
  border-radius: 50%;
}
.pageContainer header .titleText {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pageContainer header .titleText p {
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.5rem;
}
.pageContainer header .titleText button {
  width: 30%;
  margin-top: 5%;
  padding: 1%;
  border: 0.2rem solid black;
  border-radius: 5%;
  background: skyblue;
}
.pageContainer header .titleText button a {
  text-decoration-line: none;
  font-family: 'Rajdhani', sans-serif;
  color: black;
}
.pageContainer .backGround {
  display: flex;
  justify-content: space-around;
  margin: 2%;
}
.pageContainer .backGround .whyHire {
  display: flex;
  flex-direction: column;
  padding: 2%;
  width: 48%;
}
.pageContainer .backGround .whyHire p {
  font-size: 2rem;
}
.pageContainer .backGround .mySkills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2%;
  width: 48%;
  max-height: 25vh;
  background-color: skyblue;
  border: 0.1rem solid black;
  border-radius: 50%;
}
.pageContainer .backGround .mySkills .skills {
  list-style-type: circle;
  padding: 2%;
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.5rem;
}
.pageContainer .myEducation {
  display: flex;
  justify-content: space-between;
  margin: 0% 2%;
  border: 0.3rem solid black;
  background-color: skyblue;
}
.pageContainer .myEducation h2 {
  align-self: center;
  margin-left: 5%;
  width: 20%;
}
.pageContainer .myEducation .schools {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: nowrap;
  width: 80%;
}
.pageContainer .myEducation .schools #unc {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  border-left: 0.3rem solid black;
  background-color: white;
  border-bottom: 0.1rem dashed black;
}
.pageContainer .myEducation .schools #unc h2 {
  align-self: flex-start;
  width: 80%;
}
.pageContainer .myEducation .schools #unc p {
  align-self: center;
  width: 50%;
}
.pageContainer .myEducation .schools #lambda {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  border-left: 0.3rem solid black;
  background-color: white;
}
.pageContainer .myEducation .schools #lambda h2 {
  align-self: flex-start;
  width: 80%;
}
.pageContainer .myEducation .schools #lambda p {
  align-self: center;
  width: 50%;
}
.pageContainer footer {
  margin-top: 5%;
  border-top: 2px dotted black;
}
.pageContainer footer #contact {
  display: flex;
  flex-direction: column;
  padding: 5%;
}
.pageContainer footer #contact h3 {
  font-size: 2rem;
}
.pageContainer footer #contact p {
  padding: 0.5% 0;
}
